<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #e86e0b;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/new-product">Add New Product</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>