div {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

button.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #f2f2f2;
}

button.btn-primary:hover {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #777;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #333;
}